Repository libranet/conda-xdgpatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

.pre-commit-config.yaml:

# Configuration-file for pre-commit
# References:
#   - Official docs: https://pre-commit.com
#   - for more hooks: https://pre-commit.com/hooks.html
#
# To avoid duplication, we try to configure the tools in pyproject.toml as much as possible.
#
# Usage:
#   > pre-commit install
#   > pre-commit install hooks  -f
#   > pre-commit autoupdate
#   > pre-commit run --all-files


repos:

    # docs: https://black.readthedocs.io/en/stable/integrations/source_version_control.html
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            args: [
                "--config=pyproject.toml",
                # "--check",  # don't write the files back, just return the status.
                ]
            language: system  # use executable found on path
            types: [python]   # check only specific filetypes

    # docs: https://flake8.pycqa.org/en/latest/user/using-hooks.html
    - repo: local
      hooks:
          - id: flake8
            name: flake8
            entry: flake8
            language: system
            types: [python]

    # docs: https://pycqa.github.io/isort/docs/configuration/pre-commit.html
    - repo: local
      hooks:
          - id: isort
            name: isort
            entry: isort
            args: ["--settings-path=pyproject.toml"]
            language: system

    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types: [python]

    - repo: local
      hooks:
          - id: bandit
            name: bandit
            entry: bandit
            language: system
            types: [python]
            # see https://github.com/PyCQA/bandit/issues/318
            args: [
              "--configfile pyproject.toml",
              "--baseline etc/bandit-baseline.json",
              ]


    # The following are all pre-commit-hooks
    # docs: https://github.com/pre-commit/pre-commit-hooks

    - repo: local
      hooks:
          - id: debug-statements
            name: check-debug-statements
            entry: debug-statement-hook
            language: system
            types: [python]

    - repo: local
      hooks:
          - id: check-toml
            name: check-toml
            entry: check-toml
            language: system
            types: [toml]

    - repo: local
      hooks:
          - id: end-of-file-fixer
            name: fix-end-of-filer
            entry: end-of-file-fixer
            language: system
            types: [python]

    - repo: local
      hooks:
          - id: fix-encoding-pragma
            name: fix-encoding-pragma
            entry: fix-encoding-pragma
            language: system
            types: [python]

    - repo: local
      hooks:
          - id: mixed-line-ending
            name: fix-mixed-line-ending
            entry: mixed-line-ending
            language: system
            types: [text]

    - repo: local
      hooks:
          - id: trailing-whitespace
            name: fix-trailing-whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]

cleanup
  .gitignore
  .make/55-poetry.mak
  docs/LICENSE
  docs/img/favicon-ek-global.ico
  docs/img/favicon.png
  docs/img/logo.jpg
  docs/img/logo.png
  pyproject.toml
  src/conda_xdgpatch/patch.py
Due: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

Update patch.py
  src/conda_xdgpatch/patch.py
Due: black, flake8, mypy, bandit, debug-statements, end-of-file-fixer, fix-encoding-pragma

update
  src/conda_xdgpatch/patch.py
Due: black, flake8, mypy, bandit, debug-statements, end-of-file-fixer, fix-encoding-pragma

add dependabot
  .github/dependabot.yml
Due: none

update
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/funding.yaml
  .github/pull_request_template.md
  .github/workflows/lint.yaml
  .github/workflows/testing.yaml
  .gitignore
  .make/01-path.mk
  .make/02-source-env.mk
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  docs/LICENSE
  docs/code-of-conduct.md
  docs/conf.py
  docs/contributing.md
  docs/contributors.md
  docs/contributors.rst
  docs/index.rst
  docs/license.md
  docs/license.rst
  docs/security.md
  license.md
  pyproject.toml
Due: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update
  .github/workflows/linting.yaml
  .github/workflows/testing.yaml
  .gitignore
  .make/00-help.mk
  .make/01-path.mk
  .make/02-dotenv.mk
  .make/02-source-env.mk
  .make/03-pip.mk
  .make/05-git.mk
  .make/10-black.mk
  .make/10-pep8.mak
  .make/11-isort.mk
  .make/12-flake8.mk
  .make/13-pylint.mk
  .make/14-mypy.mk
  .make/16-ruff.mk
  .make/17-ipython.mk
  .make/18-pyroma.mk
  .make/20-pytest.mak
  .make/20-pytest.mk
  .make/25-sphinx.mak
  .make/25-sphinx.mk
  .make/30-pre-commit.mk
  .make/55-poetry.mk
  .make/60-readthedocs.mk
  docs/changes.md
  docs/changes.rst
  docs/readme.md
  docs/readme.rst
  makefile
  poetry.lock
  pyproject.toml
  src/conda_xdgpatch/__init__.py
  src/conda_xdgpatch/patch.py
  tests/conftest.py
  tests/test_entrypoints.py
  tests/test_init.py
Due: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

fix classifier
  .github/workflows/linting.yaml
  pyproject.toml
Due: check-toml

fix classifier
  .github/workflows/linting.yaml
Due: none

update deps
  poetry.lock
Due: none

updat deps
  poetry.lock
Due: none

update
  .github/workflows/dependabot-auto-merge.yaml
  docs/changes.md
  docs/readme.md
  pyproject.toml
  src/conda_xdgpatch/__init__.py
Due: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

Do not issue a user-warning if conda is not installed in the same python-environment
  docs/changes.md
  docs/index.rst
  pyproject.toml
  src/conda_xdgpatch/__init__.py
Due: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

add rtd
  .readthedocs.yaml
  docs/changes.md
  poetry.toml
  pyproject.toml
  src/conda_xdgpatch/__init__.py
Due: black, flake8, mypy, bandit, debug-statements, check-toml, end-of-file-fixer, fix-encoding-pragma

update
  docs/changes.md
Due: none

install setuptools
  .github/workflows/testing.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: check-toml

update
  poetry.lock
  poetry.toml
Due: check-toml
